<li class="pictures__item">
  <div class="pictures__info info">
    <ul class="info__list">
      <li class="info__item">
        <svg class="info__icon info-icon-like" width="15" height="15">
          <use href="./images/svg-sprite.svg#icon-like"></use>
        </svg>
        <span class="info__quantity">123456</span>
      </li>
      <li class="info__item">
        <svg class="info__icon info-icon-view" width="15" height="15">
          <use href="./images/svg-sprite.svg#icon-view"></use>
        </svg>
        <span class="info__quantity">123456</span>
      </li>
      <li class="info__item">
        <svg class="info__icon info-icon-comment" width="15" height="15">
          <use href="./images/svg-sprite.svg#icon-comment"></use>
        </svg>
        <span class="info__quantity">123456</span>
      </li>
      <li class="info__item">
        <svg class="info__icon info-icon-download" width="15" height="15">
          <use href="./images/svg-sprite.svg#icon-download"></use>
        </svg>
        <span class="info__quantity">123456</span>
      </li>
    </ul>
  </div>
  <div class="pictures__img-thumb">
    <img class="pictures__img" src="./images/1.jpg" alt="" />
  </div>
</li>
<li class="pictures__item">
  <img class="pictures__img" src="./images/2.jpg" alt="" />
</li>
<li class="pictures__item">
  <img class="pictures__img" src="./images/3.jpg" alt="" />
</li>
<li class="pictures__item">
  <img class="pictures__img" src="./images/4.jpg" alt="" />
</li>
<li class="pictures__item">
  <img class="pictures__img" src="./images/5.jpg" alt="" />
</li>
<li class="pictures__item">
  <img class="pictures__img" src="./images/6.jpg" alt="" />
</li>
<li class="pictures__item">
  <img class="pictures__img" src="./images/7.jpg" alt="" />
</li>
<li class="pictures__item">
  <img class="pictures__img" src="./images/8.jpg" alt="" />
</li>
<li class="pictures__item">
  <img class="pictures__img" src="./images/9.jpg" alt="" />
</li>
<li class="pictures__item">
  <img class="pictures__img" src="./images/10.jpg" alt="" />
</li>
<li class="pictures__item">
  <img class="pictures__img" src="./images/1.jpg" alt="" />
</li>
<li class="pictures__item">
  <img class="pictures__img" src="./images/2.jpg" alt="" />
</li>
<li class="pictures__item">
  <img class="pictures__img" src="./images/3.jpg" alt="" />
</li>
<li class="pictures__item">
  <img class="pictures__img" src="./images/4.jpg" alt="" />
</li>
<li class="pictures__item">
  <img class="pictures__img" src="./images/5.jpg" alt="" />
</li>
